body
{
    background-color: black !important;
}

.hea
{
    width: 100%;
    height: 70px;
    background-color: rgb(176, 23, 23);
    display: flex;
    padding-left: 25px;
    border-radius: 0px 0px 30px 30px ;
}

.hea>i
{
    margin: 10px;
}

.hea>h1
{
    padding: 10px 10px 0px 10px;
    color: white;
}

.carousel
{
    padding: 10px 200px 200px 200px;   
}

.d-block
{
    border-radius: 70px;

}

.products
{
    display: flex;
    width:100%;
    height: 200px;
    padding: 50px;
    background-color: wheat;
    justify-content: space-around;
}

.product
{
    width: 85px;
    height: 120px;
    padding: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    transition: 500ms;
}

.product:hover
{
    transition: 500ms;
    transform: scale(1.1);
}

.grids
{
    /* width: 100%;
    height: 50px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    grid-auto-rows: minmax(100px,auto);
    background-color: white;
    padding: 25px;
}

.item
{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
}

.one
{
    grid-column: 1.;
    grid-row: 2;
}